.container-all {
	display: flex;
	max-width: 1200px;
	width: 90%;
	background: white;
	box-sizing: border-box;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.308);
	padding: 25px;
	margin: 20px auto;
	border-radius: 20px;
	flex-direction: column
}

.container img {
	width: 600px
}

.images {
	display: flex;
	box-sizing: border-box;
	padding: 15px;
	margin: 10px auto;
	flex-direction: row
}

.ai {
	display: flex;
	box-sizing: border-box;
	padding: 15px;
	margin: 10px auto;
	flex-direction: row
}

